<div class="modal-header">
 <h3 class="modal-title">Preview Request</h3>
 </div>
<div class="modal-body custom-height-modal" >
    <div class="form-group" >
    <label>Start Date</label>

                <input type="text" name="name" class="form-control" ng-model="user.name"
                       required placeholder="Your name"/>
                
              </div>
     <div class="row">
        <div class="col-md-6">End Date</div>
        <div class="col-md-6"></div>
     </div>
     <div class="row">
        <div class="col-md-6">Due Date</div>
        <div class="col-md-6"></div>
     </div>
     <div class="row">
        <div class="col-md-6">Objective</div>
        <div class="col-md-6"></div>
     </div>
     <div class="row">
        <div class="col-md-6">Brief</div>
        <div class="col-md-6"></div>
     </div>
     <div class="row">
        <div class="col-md-6">Contact Name</div>
        <div class="col-md-6"></div>
     </div>
     <div class="row">
        <div class="col-md-6">Contact</div>
        <div class="col-md-6"></div>
     </div>
</div>
<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(items)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>