


<div class="col-md-12">
	<div class="col-md-6">
		
		<label>From</label>
<div class="input-group">
	<input type="text" size="10" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="before" is-open="isBeforeOpen"
				 close-text="Close"/>
	<span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openBefore($event)"><i
									class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>
	</div>
	<div class="col-md-6">
		<label>To</label>
<div class="input-group">
	<input type="text" size="10" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="after" is-open="isAfterOpen"
				 close-text="Close"/>
	<span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openAfter($event)"><i
									class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>
	</div>
</div>