<div class="col-md-12">

<div class="box">
        <div class="row">
        
              <div class="col-sm-4" style="border-right: bold">
                <h3 >Orders Total :<br> &nbsp;<br>{{orders.total | currency}}</h3>
              </div>
              <div class="col-sm-4"><h3>How You get paid</h3><br><small>manage</small></div>
              <div class="col-sm-4"><h3>Advertising Profile</h3><br><p>Name:<br>Address</div>
          
        </div>
 </div>
<div class="box">
    <table st-set-filter="customFilter" st-table="orders" class="table table-bordered table-striped">
  <thead>
  <!-- <tr>
  <th colspan="3" st-sort="orderDate">order date</th>
   
    <th colspan ="2" st-sort="price">balance</th>
  </tr>
  <tr>
    
    <th colspan="3" style="width: 50%">
      <st-date-range predicate="birthDate" before="query.before" after="query.after"></st-date-range>
    </th>

    <th colspan="2">
      <st-number-range predicate="balance" lower="query.lower" higher="query.higher"></st-number-range>
    </th>
  </tr> -->
  </thead>
  <tbody>
  <tr ng-repeat="o in orders | orderBy : 'orderDate' : 'reverse'">
    <td colspan="5">
      
       <div class="row">
<div class="col-md-12">
  <div class="panel panel-primary">

      <div class="panel-heading">
            <div class="panel-title"><button class="btn btn-warning">{{o.orderNo}}</button>&nbsp;{{o.orderDate | amCalendar}}
            <div class="col-sm-3 pull-right" ng-if="isAdmin()">
              <select ng-model="o.status"
              ng-options="i.name for i in orderStatusLov track by i.val"
              ng-change="changeStatus(o)"
              class="form-control"></select>
             </div>
          </div>
      </div>
      <div class="panel-body">
          <table class="table">
              <tbody>
                <tr ng-repeat="i in o.items" >
                    <td> <!-- <img class="product-thumbnail" style="width: 100px;"  data-ng-src="data:image/png;base64,{{i.image}}" data-err-src="images/png/avatar.png"/> -->
                    Advertiser <br>{{o.uid}}<br>
                    
                    </td>
                    <td>Order Id:{{o.orderNo}}<br><br>&nbsp;{{o.orderDate | amCalendar}}</td>
                    <td>{{i.publisher}}<br>
                    {{i.name}}
                      <br/><span class="text-muted">Qty: {{i.quantity}}</span>
                      <!-- <br/><span class="text-muted">Packing/Size: {{i.size}}</span> -->
                      <br/><span class="text-muted">Unit Price: {{i.price | currency}}</span>
                    </td>
                    <td><span class="text-muted">= {{i.quantity * i.price | currency}}</span></td>

                </tr>
           <!--      <tr class="well text-muted">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Shipping Charge:</td>
                <td colspan="1"> {{o.shipping.charge | currency}}</td>
                </tr> -->
                <tr class="well text-muted">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Coupon:</td>
                <td colspan="1"> {{o.shipping.couponAmount | currency}}</td>
                </tr>
                <tr class="well">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Order Total:</td>
                <td colspan="1">{{getTotal(o) | currency}}</td>
                </tr>


            </tbody>
          </table>
      </div>
</div>


</div>
</div>
    </td>
    
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>


 
</div>
</div>
