
<div class="container">
<div class="row">
  <div class="col-sm-12 text-center">
    <ol class="breadcrumb">
        <li><a ui-sref="main" href="">Home</a></li>
        <li ng-repeat="b in breadcrumb.items | reverse">
            <a href="/" ng-if="!$last">{{b.name}}</a>
            <span ng-if="$last">{{b.name}}</span>
        </li>
    </ol>
  </div>
    <hr class="clearfix"/>
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
          <div class="panel panel-default sidebar-menu">

              <div class="panel-heading">
                  <h3 class="panel-title">Categories</h3>
              </div>
              <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked category-menu">
                      <li ng-repeat= "p in categories">
                          <a href="category.html">{{p.name}} <span class="badge pull-right"></span></a>
                          <ul>
                              <li ng-repeat="c in p.sub_categories"><a href="/Category/{{c.slug}}/{{c._id}}">{{c.name}}</a>
                              </li>
                          </ul>
                      </li>
                  </ul>

              </div>
          </div>

          <!-- *** MENUS AND FILTERS END *** -->

          <!-- <div class="banner">
              <a href="#">
                  <img src="/assets/img/banner.jpg" alt="sales 2015" class="img-responsive">
              </a>
          </div> -->
      </div>

      <div class="col-md-9">
          <div class="row" id="productMain">
              <div class="col-sm-3">
                  <div id="mainImage" style="height: 50%">
                      <img data-ng-src="data:image/png;base64,{{product.logo[0].base64}}"  alt="{{product.name}}" class="img-responsive">
                  </div>

                  

              </div>
              <div class="col-sm-9">
                  <div class="box">
                      <h1 class="text-center">{{product.name}} </h1>
                     
                    <div ng-if="product.info">
                     <h4>Details</h4>
                     <blockquote>
                    <p>{{product.info}}</p>
                  </blockquote> 
                   
                  <div ng-if="product.stats.length>0">
                  <h4>Stats</h4>

                  <div class="row">
                    <div class="col-xs-6 col-md-3" ng-repeat="f in product.stats">
                      <div  class="thumbnail">
                     <p><h6><center>{{f.key}}</h6></center>  <div><center><h4>{{f.val}}</h4></center></div></p>
                    </div>
                  </div>
                  </div>
                 
                  </div>

                  <div class="row">
                 <div class="col-sm-3">
                   <div ng-if="product.brand">
                  <h4>Category</h4>
                  <ul>
                      <li><a href="/Brand/{{product.brand.name}}/{{product.brand._id}}">{{product.brand.name}}</a></li>
                  </ul>
                  </div>
                 </div>
                  <div class="col-sm-4">
                    <div ng-if="product.category">
                  <h4>Platform</h4>
                  <ul>
                      <li><a href="/Category/{{product.category.slug}}/{{product.category._id}}">{{product.category.name}}</a></li>
                  </ul>
                  </div>
                  </div>
                 <div class="col-sm-5"> <h4>Contact Details</h4>
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>{{product.email}}<br>
                           <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>{{product.phone}}
                 </div>
                  </div>


                   
                  

                  </div>

                      <p class="goToDescription">
                    <a href="#details" class="scroll-to">Scroll to publisher media kit</a>
                      </p>
                      

                  </div>

              </div>

          </div>


          <div class="box" id="details">
           <div class="row">
            <div class="col-md-4">
            <h4>Preview</h4>
            <div class="box" style="height: 300px">
            <div class="image-responsive"  style="height: 85%" ng-if="name">

            <img src="/assets/img/preview.png" width="100%" >
              
            </div>
            <p>{{name}}<br/>{{formart}} &nbsp;{{size}}<br/>
            </p>

            </div>
            </div>
            <div class="col-md-8">
              <p>

                <table  class="table table-striped">
                            <thead>
                            <tr>
                                <th>Adspace</th>
                                <th>Rate</th>
                                <th></th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="adspace in product.variants"  ng-click="preview(adspace)">
                             
                                <td>{{adspace.name}}<br><span><small>{{adspace.size}} &nbsp;{{adspace.maxSize}} &nbsp;{{adspace.formart}}</small></span></td>
                                <td> {{adspace.price | currency}}</td>
                                <td><small><!-- <div class="btn-group  btn-min">
                        <a ui-sref="productDetail({id:adspace.id, slug:product.slug})" class="btn btn-default  btn-min">View detail</a> -->
                        <a ng-click="cart.addItem({sku:adspace.name, name:adspace.name,  price:adspace.price}, -1)" ng-hide="checkCart(adspace.name)" class="btn btn-info  btn-min">-</a>

                        <a ng-hide="checkCart(adspace.name)" class="btn btn-info  btn-min">{{getQuantity(adspace.name);}}</a>

                      <!--   <a ng-click="cart.addItem({sku:adspace.name, name:adspace.name, price:adspace.price}, +1)" ng-hide="checkCart(adspace.name)" class="btn btn-info  btn-min">+</a> -->
                        </div>
                        <a ng-click="cart.addItem({sku:adspace.name, name:adspace.name, price:adspace.price, quantity:1} ,true);" ng-show="checkCart(adspace.name)" class="btn btn-primary  btn-min"><i class="fa fa-shopping-cart"></i></a>
                      </div> 
</small></td>
                                
                            </tr>
                            
                            </tbody>
                        </table>
                 </p>
            </div>
           </div>
              
                  <hr>
                  
          </div>
    </div>
</div>
