<link rel="stylesheet" href="bower_components/angular-tablesort/tablesort.css" />
<form name="product_form">
    <!-- <div class="col-sm-12">
      <div class="box">
        <h1>Products Manager</h1>
        <div class="alert alert-info">Shipping will be free, if no weight specified</div>
      </div>
    </div> -->

  <div class="col-md-6">
     <!--  <button type="button" class="btn btn-danger" ng-click="edit({});"><i class="fa fa-plus"></i>&nbsp;Add New</button> -->
      <button type="submit" class="btn btn-info" ng-click="save(user);"><i class="fa fa-save"></i> &nbsp;Save</button>
      &nbsp;&nbsp;<a ui-sref="productDetail({id:product._id, slug:product.slug})">{{product.name}}</a>
      <button type="button" class="btn" ng-click="delete(product);" ng-if="profile._id"><i class="fa fa-trash"></i>&nbsp;Delete</button>

      <hr/>
    <div class="box" ng-if="profile._id">
    <form class="form-horizontal" role="form">
      <div class="form-group">
          <div class="col-md-12">

          <div class="col-md-1">
          </div>
          <div class="col-md-10">

              <div class="form-group row">
                <label for="id" class="col-md-6">Ad-ID</label>
                <div class="col-md-6">
                    <input ng-model="profile._id" type="text" disabled="" class="form-control" placeholder="ID"/>
                </div>
               
              </div>
              <hr/>

                   <div class="form-group row">
                
                <label for="name" class="col-md-6 control-label text-right">Name</label>
                <div class="col-md-6">
                    <input ng-model="profile.name" type="text"  class="form-control" placeholder="Name"/>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                
                <label for="name" class="col-md-6 control-label text-right">Last Name</label>
                <div class="col-md-6">
                    <input ng-model="profile.lastname" type="text" class="form-control" placeholder="Name"/>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                
                <label for="name" class="col-md-6 control-label text-right">Company</label>
                <div class="col-md-6">
                    <input ng-model="profile.company" type="text" class="form-control" placeholder="Name"/>
                </div>
              </div>
              <hr/>
              <div class="form-group row">
                
                <label for="name" class="col-md-6 control-label text-right">Email</label>
                <div class="col-md-6">
                    <input ng-model="profile.email" type="text" class="form-control" placeholder="Name"/>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                
                <label for="name" class="col-md-6 control-label text-right">Phone</label>
                <div class="col-md-6">
                    <input ng-model="profile.phone" type="text" class="form-control" placeholder="Name"/>
                </div>
              </div>
              <hr/>


               
              
                  
          </div>
          </div>
          <div class="col-md-1">
          </div>
      </div>

<hr/>

<hr/>
<!-- <div class="clearfix"></div>
<div class="panel panel-primary">
  <div class="panel-heading">Key Features</div>
  <div class="panel-body">
    <table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="kf in product.keyFeatures track by $index">
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="product.keyFeatures[$index]" style="width:150px;" placeholder="Feature"/></td>
            <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger" ng-click="deleteKF($index,product);"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>New</td>
            <td><input type="text" ng-model="newKF.val" style="width:150px;" placeholder="Key Feature"></input></td>
            <td>

            </td>
        </tr>
    </tbody>
    </table>
</div>
</div> -->
<hr/>

<div class="clearfix"></div>
 
  </form>
</div>
<div dw-loading="products" dw-loading-options="{text: ''}"></div>
<div class="box" ng-if="!profile._id">
  <h3>Click on the  name to view details... <i class="fa fa-arrow-right"></i></h3>
</div>
</div>
<div class="col-md-1">
</div>

<div class="col-md-5" style="margin-top: 73px">
<div class="panel panel-primary">
  <div class="panel-heading">Profile

    </div>
  <div class="panel-body">
    <div infinite-scroll='loadMore()'>
    <table class="table table-striped table-responsive" ts-wrapper>
    <thead>
        <tr>
            <th ts-criteria="id">ID</th>
            <th ts-criteria="name">Name</th>
            <th ts-criteria="active">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td><img src="images/{{p.category}}/{{p.image}}"/> </td>--><td>{{$index+1}}</td><td><a href=""  ng-click="profileDetail(user);">{{user.company}}</a></td>
            <td>
               <!--  <button class="btn" ng-class="{true:'btn-success', false:''}[p.active]" ng-click="changeActive(p);">{{p.active | active}}</button> -->
            </td>
        </tr>
    </tbody>
    </table>
</div> <!-- Infinite Scroll -->
</div>
</div>

</div>

  
</form>
