<section layout="row" flex>
   
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <div class="col-md-12" ng-controller="CampaignCtrl as vm">

<div class="col-md-12">
  <h2>Campaigns</h2>
  <!-- <h3  class="bg-info well text-center">Total Spent: {{campaigns.total | currency}}</h3> -->
<div class="panel panel-primary" ng-repeat="o in vm.campaigns | orderBy : 'campaignDate' : 'reverse'">

      <div class="panel-heading">
            <div class="panel-title"><button class="btn btn-warning">{{o.campaignNo}}</button>&nbsp;{{o.campaignDate | amCalendar}}&nbsp;{{o.campaignName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{o.startDate|date}}-{{o.endDate|date}}
           <!--  <div class="col-sm-3 pull-right" ng-if="isAdmin()">
              <select ng-model="o.status"
              ng-options="i.name for i in vm.campaignStatusLov track by i.val"
              ng-change="vm.changeStatus(o)"
              class="form-control"></select>
             </div> -->
          </div>
      </div>
      <div class="panel-body">
          <table class="table">
              <tbody>
                <tr ng-repeat="i in o.items" style="max-height: 80px" >
                    <td class="product-thumbnail"> <img style="width: 100px ;max-height: 50px"  data-ng-src="data:image/png;base64,{{i.image}}" data-err-src="images/png/avatar.png"/>
                    </td>
                    <td>{{i.publisher}}<br>
                    {{i.name}}
                      <br/><span class="text-muted">Qty: {{i.quantity}}</span>
                      <!-- <br/><span class="text-muted">Packing/Size: {{i.size}}</span> -->
                      <br/><span class="text-muted">Unit Price: {{i.price | currency}}</span>
                    </td>
                    <td><!-- <button ng-click="vm.openChat(o,i,i.creative,'md')" ><i class="fa fa-comment-o"></i></button> --><br><br><div ng-show="i.status.val=='202'||i.status.val=='300'||i.status.val=='305'">
                      <div ng-hide="i.status.val=='300'">
                    <button ng-hide="isAdmin()" ng-click="vm.open(o,i,i.creative,'md')" ><i class="fa fa-image"></i></button>
                     <button ng-show="isAdmin()" ng-click="vm.openCreative(o,i,i.creative,'md')" ><i class="fa fa-image"></i></button>
                    </div>
                    <br>
                    <!--  <button ng-click="vm.toggleRight();vm.openToggle(o,i,i.creative,'md')" ng-hide="isOpenRight()" ><i class="fa fa-paper-plane"></i></button><br><br> -->

                     <div ng-show="checkCart(i.sku)" ng-show="i.status.val=='300'"><button  ng-click="cart.addItem({sku:i.sku, name:i.name,slug:adspace.formart,mrp:i.mrp, weight:i.maxSize,size:i.size,price:i.price , publisher:i.publisher,uid:i.uid,category:i.category,image:i.image,quantity:1} ,true);" ng-show="checkCart(i.name)"><i class="fa fa-shopping-cart" ></i></button></div>

                    
                    </div>

                    </td>
                    <td><span class="text-muted"><!-- Status {{(i.status.val=='500')? 'Rejected':(i.status.val=='305')? 'Approved':(i.status.val=='300')? 'Creative Added':(i.status.val=='201')? 'Waiting for Response':((i.status.val=='202')?'Response Received': 'New')}} -->

                    <div ng-show= "i.status.val=='305'" class="alert alert-success">Approved</div>
                    <div ng-show="!i.creative" class="alert alert-danger" >Creative Required</div>
                    <div  ng-show = "i.status.val=='402'" class="alert alert-danger" >Waiting Response</div>
                    <div  ng-show = "i.status.val=='300'" class="alert alert-success" >Ready </div>
                    <div  ng-show = "i.status.val=='500'" class="alert alert-danger" >Rejected </div>
                    <div  ng-show = "i.status.val=='309'" class="alert alert-success" >Completed </div>

                    <!--  <div class="alert alert-warning" ng-show="notsubmitted">User Creation Failed !!</div>
                      <div class="alert alert-danger" ng-show="notsubmitted">User Creation Failed !!</div>
 -->

                    <span></span></td>
                    <td><!-- <span class="text-muted"> Action :<select ng-model="i.status"
                        ng-options="p.name for p in vm.campaignStatus track by p.val"
                        ng-change="vm.action(o)"
                        class="form-control"
                        style="max-width: 150px"></select></span> --></td>
                    <td><span class="text-muted">= {{i.quantity * i.price | currency}}</span></td>

                </tr>
           <!--      <tr class="well text-muted">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Shipping Charge:</td>
                <td colspan="1"> {{o.shipping.charge | currency}}</td>
                </tr> -->
                <tr class="well text-muted">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Coupon:</td>
                <td colspan="1">$ 0.00 <!-- {{o.shipping.couponAmount | currency}}< --></td>
                </tr>
                <tr class="well">
                <td colspan="1" class="text-right"> </td>
                <td class="text-right">Campaign Total:  </td>
                <td colspan="1">{{vm.getTotal(o) | currency}}</td>
                </tr>


            </tbody>
          </table>

      </div>
</div>
</div>
</div>
<!-- chat modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Chat</h4>
          </div>
          <div class="modal-body">
            <simple-chat
                messages="AppView.messages"
                local-user="AppView.you"
            ></simple-chat>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
        <div>
          
        </div>
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar style= "background-color:#555555">
        <h1 class="md-toolbar-tools">Preview Request</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-datepicker ng-model="request.startDate"  value="{{items.startDate}}" md-placeholder="Start Date"></md-datepicker>
          <br><br>
        <md-datepicker ng-model="request.endDate"  value="{{items.endDate}}" md-placeholder="End Date"></md-datepicker>
          <br> <br>
        <md-datepicker ng-model="request.dueDate"   md-placeholder="Due Date"></md-datepicker>
          <br> <br>
      
      <label>Budget&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input ng-model="request.budget" value="{{p.price}}" type="number" step="0.01">
       <br><br>
      <label>Objective&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input ng-model="request.objective" type="text">
      <br><br>

      <label>Brief&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <textarea ng-model = "request.brief" cols="20" rows="3">
        
      </textarea>

         <br><br>
      <label>Contact Name&nbsp;&nbsp;</label>
      <input ng-model="request.contactName" type="text" >

         <br><br>
      <label>Contact Email&nbsp;&nbsp;</label>
      <input ng-model="request.contactEmail" type="text" >
    

        </form>
        <md-button ng-click="close(request)" class="md-primary">
          SClose
        </md-button>
        <md-button ng-click="request(request)" class="md-primary">
          Send Request
        </md-button>
      </md-content>
    </md-sidenav>
  </section>

<!-- creative modal -->


